<html>
    <head>
        <title>Help</title>
    </head>
    <body>
        <h1>About the project</h1>
        <p>This app takes a source and destination locations as input and tells you which side the sun will be in your journey(either left or right).So now you know which side to sit in car/bus to avoid sunburn!<p>
	    <h1>How does this work?</h2>
	    <p>first, it fetches the route from the provided input. the route is optimal route provided by google maps with default setting(ie. mode=driving).then based on coordinates on the route and the current time it calculates the position(azimuth angle) of sun. in the final answer it gives postion of sun for the lognest distance</p>
	    <h1>How to input?</h1>
	    <p>provide the names of source and destination and press calculate button. for higher accuracy i recommend that you type the name of location exactly how they appear on google maps(ie.first search them on google maps and then copy paste the location name)</p>
	    <h1>A note on accuracy</h2>
	    <p>the result calculated is for the current time only. position of a celestial body with respect to observer changes continuously with time and his location. but this change is minor and thus ignored here. in some rare cases it may happen that the postion of sun changes due to change in time and/or change in location.</p>
	    <h1>Developed by:</h1>
	    <p>Jay Bhavsar</p>
    </body>
</html>
